Set up Google Colab Drive

In [2]:
# from google.colab import drive
# drive.mount('/content/gdrive')

Deep learning needs the computational power of GPUs, therefore, we run this notebook on Google Colab with GPU support.<br>
Check RAM of GPU.<br>
For this end, we need to install [GPUtil](https://pypi.org/project/GPUtil/).

In [3]:
# pip install GPUtil

In [4]:
import psutil
import humanize
import os
import GPUtil as GPU
GPUs = GPU.getGPUs()
gpu = GPUs[0]

def printm():
  process = psutil.Process(os.getpid())
  print("Gen RAM Free: " + humanize.naturalsize( psutil.virtual_memory().available ), " I Proc size: " + humanize.naturalsize( process.memory_info().rss))
  print('GPU RAM Free: {0:.0f}MB | Used: {1:.0f}MB | Util {2:3.0f}% | Total {3:.0f}MB'.format(gpu.memoryFree, gpu.memoryUsed, gpu.memoryUtil*100, gpu.memoryTotal))

printm()

Gen RAM Free: 8.9 GB  I Proc size: 59.8 MB
GPU RAM Free: 2596MB | Used: 1500MB | Util  37% | Total 4096MB

Change directory to "/flair"

In [5]:
# os.getcwd()

So, we are currently in "/content"

In [6]:
# for directory in os.walk( os.getcwd() ):

  # print( directory )

We see in the table above, that there exists a folder "/content/gdrive/MyDrive/flair" into which we have loaded our data.<br>
We now change the working directory to this directory.

In [7]:
# os.chdir( "/content/gdrive/MyDrive/flair" )

In [8]:
# os.getcwd()

Using the code from above, we change the current working directory to the directory, where we loaded our data to.

In [9]:
# os.listdir( os.getcwd() )

Install Flair

In [10]:
# pip install flair

Import the Data Set

In [11]:
path_to_data = os.getcwd() + '/Entity Recognition in Resumes.json'

__Task 1__: Complete the following code: we want to read the data from said .json-file into the list __imported_data__. Also, print the first line, so that we get an idea, what the data look like. Also, print how many resumees we got.

In [12]:
myfile = open( path_to_data, "r", encoding = "utf-8" )

imported_data = []

for datum in myfile:
    imported_data.append(datum)

myfile.close()

# TODO print first line
print("First line:\t", imported_data[0])

# TODO print how many resumees were read in
print("# of resumes:\t", len(imported_data))

First line:	 {"content": "Afreen Jamadar\nActive member of IIIT Committee in Third year\n\nSangli, Maharashtra - Email me on Indeed: indeed.com/r/Afreen-Jamadar/8baf379b705e37c6\n\nI wish to use my knowledge, skills and conceptual understanding to create excellent team\nenvironments and work consistently achieving organization objectives believes in taking initiative\nand work to excellence in my work.\n\nWORK EXPERIENCE\n\nActive member of IIIT Committee in Third year\n\nCisco Networking -  Kanpur, Uttar Pradesh\n\norganized by Techkriti IIT Kanpur and Azure Skynet.\nPERSONALLITY TRAITS:\n• Quick learning ability\n• hard working\n\nEDUCATION\n\nPG-DAC\n\nCDAC ACTS\n\n2017\n\nBachelor of Engg in Information Technology\n\nShivaji University Kolhapur -  Kolhapur, Maharashtra\n\n2016\n\nSKILLS\n\nDatabase (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.\n\nhttps://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN","annotation":[{"label":["Email Address"],"points":[{"start":1155,"end":1198,"text":"indeed.com/r/Afreen-Jamadar/8baf379b705e37c6"}]},{"label":["Links"],"points":[{"start":1143,"end":1239,"text":"https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN"}]},{"label":["Skills"],"points":[{"start":743,"end":1140,"text":"Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql."}]},{"label":["Graduation Year"],"points":[{"start":729,"end":732,"text":"2016"}]},{"label":["College Name"],"points":[{"start":675,"end":702,"text":"Shivaji University Kolhapur "}]},{"label":["Degree"],"points":[{"start":631,"end":672,"text":"Bachelor of Engg in Information Technology"}]},{"label":["Graduation Year"],"points":[{"start":625,"end":629,"text":"2017\n"}]},{"label":["College Name"],"points":[{"start":614,"end":622,"text":"CDAC ACTS"}]},{"label":["Degree"],"points":[{"start":606,"end":611,"text":"PG-DAC"}]},{"label":["Companies worked at"],"points":[{"start":438,"end":453,"text":"Cisco Networking"}]},{"label":["Email Address"],"points":[{"start":104,"end":147,"text":"indeed.com/r/Afreen-Jamadar/8baf379b705e37c6"}]},{"label":["Location"],"points":[{"start":62,"end":67,"text":"Sangli"}]},{"label":["Name"],"points":[{"start":0,"end":13,"text":"Afreen Jamadar"}]}],"extras":null,"metadata":{"first_done_at":1527844872000,"last_updated_at":1537724086000,"sec_taken":0,"last_updated_by":"BIQNZm4INNfvByMqkaVwVt6OZTv2","status":"done","evaluation":"CORRECT"}}

# of resumes:	 701

Map the dataset to json

In [13]:
import json

In [14]:
mapped_data = [ json.loads( datum ) for datum in imported_data  ]

Now, the data are stored in __mapped_data__. __mapped_data__ is a list, and its entries are dictionaries.<br>
__Task 2__: choose an entry of __mapped_data__, iterate over its keys, print the key and its corresponding value.

In [15]:
#TODO choose an entry of mapped_data, iterate over its keys, print the key and its corresponding value
for key in mapped_data[0].keys():
    print("key:\t", key, " content:\t", mapped_data[0][key])

key:	 content  content:	 Afreen Jamadar
Active member of IIIT Committee in Third year

Sangli, Maharashtra - Email me on Indeed: indeed.com/r/Afreen-Jamadar/8baf379b705e37c6

I wish to use my knowledge, skills and conceptual understanding to create excellent team
environments and work consistently achieving organization objectives believes in taking initiative
and work to excellence in my work.

WORK EXPERIENCE

Active member of IIIT Committee in Third year

Cisco Networking -  Kanpur, Uttar Pradesh

organized by Techkriti IIT Kanpur and Azure Skynet.
PERSONALLITY TRAITS:
• Quick learning ability
• hard working

EDUCATION

PG-DAC

CDAC ACTS

2017

Bachelor of Engg in Information Technology

Shivaji University Kolhapur -  Kolhapur, Maharashtra

2016

SKILLS

Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT
ACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)

ADDITIONAL INFORMATION

TECHNICAL SKILLS:

• Programming Languages: C, C++, Java, .net, php.
• Web Designing: HTML, XML
• Operating Systems: Windows […] Windows Server 2003, Linux.
• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.

https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN
key:	 annotation  content:	 [{'label': ['Email Address'], 'points': [{'start': 1155, 'end': 1198, 'text': 'indeed.com/r/Afreen-Jamadar/8baf379b705e37c6'}]}, {'label': ['Links'], 'points': [{'start': 1143, 'end': 1239, 'text': 'https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN'}]}, {'label': ['Skills'], 'points': [{'start': 743, 'end': 1140, 'text': 'Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.'}]}, {'label': ['Graduation Year'], 'points': [{'start': 729, 'end': 732, 'text': '2016'}]}, {'label': ['College Name'], 'points': [{'start': 675, 'end': 702, 'text': 'Shivaji University Kolhapur '}]}, {'label': ['Degree'], 'points': [{'start': 631, 'end': 672, 'text': 'Bachelor of Engg in Information Technology'}]}, {'label': ['Graduation Year'], 'points': [{'start': 625, 'end': 629, 'text': '2017\n'}]}, {'label': ['College Name'], 'points': [{'start': 614, 'end': 622, 'text': 'CDAC ACTS'}]}, {'label': ['Degree'], 'points': [{'start': 606, 'end': 611, 'text': 'PG-DAC'}]}, {'label': ['Companies worked at'], 'points': [{'start': 438, 'end': 453, 'text': 'Cisco Networking'}]}, {'label': ['Email Address'], 'points': [{'start': 104, 'end': 147, 'text': 'indeed.com/r/Afreen-Jamadar/8baf379b705e37c6'}]}, {'label': ['Location'], 'points': [{'start': 62, 'end': 67, 'text': 'Sangli'}]}, {'label': ['Name'], 'points': [{'start': 0, 'end': 13, 'text': 'Afreen Jamadar'}]}]
key:	 extras  content:	 None
key:	 metadata  content:	 {'first_done_at': 1527844872000, 'last_updated_at': 1537724086000, 'sec_taken': 0, 'last_updated_by': 'BIQNZm4INNfvByMqkaVwVt6OZTv2', 'status': 'done', 'evaluation': 'CORRECT'}

__Question 1__: What are the keys, and what information do these keys store?<br>
__Task 3__: for each entry of __annotations__: iterate over the keys of this entry and print the key and the corresponding value.

In [16]:
# TODO for each entry of annotations: iterate over the keys of this entry and print the key and the corresponding value

__Question 2__: What did you learn about the __annotations__? Give an example.<br>
__Task 4__: Complete the following code to map the __mapped_data__ to a format, from which Spacy can learn. Print the first converted resumee for inspection. Choose one resumee. For this resumee, print all the data in __entities__.

In [17]:
## data conversion method
def convert_data(data):
    """
    Creates NER training data in Spacy format from JSON dataset
    Outputs the Spacy training data which can be used for Spacy training.
    """
    text = data['content']
    entities = []
    if data['annotation'] is not None:
        for annotation in data['annotation']:
            # only a single point in text annotation.
            point = annotation['points'][0]
            labels = annotation['label']
            # handle both list of labels or a single label.
            if not isinstance(labels, list):
                labels = [labels]
            for label in labels:
                # dataturks indices are both inclusive [start, end] but spacy is not [start, end)
                entities.append((point['start'], point['end'] + 1, label))
    return (text, {"entities": entities})
   
## TODO using a loop or list comprehension, convert each resume in mapped_data using the convert function above, 
## storing the result
converted_resumes = [convert_data(resume) for resume in mapped_data]
## TODO print the number of resumes in converted resumes

In [18]:
# TODO print the first resumee for inspection
print("text", converted_resumes[0][0])
print("entities", converted_resumes[0][1])

text Afreen Jamadar
Active member of IIIT Committee in Third year

Sangli, Maharashtra - Email me on Indeed: indeed.com/r/Afreen-Jamadar/8baf379b705e37c6

I wish to use my knowledge, skills and conceptual understanding to create excellent team
environments and work consistently achieving organization objectives believes in taking initiative
and work to excellence in my work.

WORK EXPERIENCE

Active member of IIIT Committee in Third year

Cisco Networking -  Kanpur, Uttar Pradesh

organized by Techkriti IIT Kanpur and Azure Skynet.
PERSONALLITY TRAITS:
• Quick learning ability
• hard working

EDUCATION

PG-DAC

CDAC ACTS

2017

Bachelor of Engg in Information Technology

Shivaji University Kolhapur -  Kolhapur, Maharashtra

2016

SKILLS

Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT
ACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)

ADDITIONAL INFORMATION

TECHNICAL SKILLS:

• Programming Languages: C, C++, Java, .net, php.
• Web Designing: HTML, XML
• Operating Systems: Windows […] Windows Server 2003, Linux.
• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.

https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN
entities {'entities': [(1155, 1199, 'Email Address'), (1143, 1240, 'Links'), (743, 1141, 'Skills'), (729, 733, 'Graduation Year'), (675, 703, 'College Name'), (631, 673, 'Degree'), (625, 630, 'Graduation Year'), (614, 623, 'College Name'), (606, 612, 'Degree'), (438, 454, 'Companies worked at'), (104, 148, 'Email Address'), (62, 68, 'Location'), (0, 14, 'Name')]}

In [19]:
# TODO choose one resumee. For this resumee, print all the data in entities. Use the dumps function from json.
print("entity data:", json.dumps(converted_resumes[0][1], indent=4))

entity data: {
    "entities": [
        [
            1155,
            1199,
            "Email Address"
        ],
        [
            1143,
            1240,
            "Links"
        ],
        [
            743,
            1141,
            "Skills"
        ],
        [
            729,
            733,
            "Graduation Year"
        ],
        [
            675,
            703,
            "College Name"
        ],
        [
            631,
            673,
            "Degree"
        ],
        [
            625,
            630,
            "Graduation Year"
        ],
        [
            614,
            623,
            "College Name"
        ],
        [
            606,
            612,
            "Degree"
        ],
        [
            438,
            454,
            "Companies worked at"
        ],
        [
            104,
            148,
            "Email Address"
        ],
        [
            62,
            68,
            "Location"
        ],
        [
            0,
            14,
            "Name"
        ]
    ]
}

__Task 5__: Explain the printout from above.<br>
__Task 6__: Since some resumees have no annotation, we want to filter these out. You can recognize these resumees by them having no entries in __entities__. Pick one of the remaining resumees, iterate over the items in __entitities__, print for each item the label and the corresponding text from the resumee.

In [20]:
# TODO filter out the resumees whose entities have no entries.
converted_complete_resumees = [complete_resume for complete_resume in converted_resumes if len(complete_resume[1]["entities"]) > 0]

In [21]:
print( len( converted_complete_resumees ) )

690

In [22]:
# TODO Now, pick one resumee from converted_complete_resumees, and iterate over the items in 
# entities. Print for each item the label and the corresponding text from the resumee.
print("not empty:", json.dumps(converted_complete_resumees[231][1], indent=4))

not empty: {
    "entities": [
        [
            4492,
            4515,
            "Skills"
        ],
        [
            4449,
            4479,
            "Skills"
        ],
        [
            4435,
            4439,
            "Years of Experience"
        ],
        [
            4414,
            4420,
            "Location"
        ],
        [
            4393,
            4410,
            "College Name"
        ],
        [
            4393,
            4399,
            "Location"
        ],
        [
            4347,
            4391,
            "Degree"
        ],
        [
            4320,
            4326,
            "Location"
        ],
        [
            4291,
            4316,
            "College Name"
        ],
        [
            4250,
            4289,
            "Degree"
        ],
        [
            4244,
            4248,
            "Years of Experience"
        ],
        [
            4223,
            4229,
            "Location"
        ],
        [
            4161,
            4219,
            "College Name"
        ],
        [
            4134,
            4153,
            "Degree"
        ],
        [
            4103,
            4132,
            "Degree"
        ],
        [
            4097,
            4101,
            "Years of Experience"
        ],
        [
            4077,
            4093,
            "College Name"
        ],
        [
            4059,
            4075,
            "Degree"
        ],
        [
            4032,
            4038,
            "Location"
        ],
        [
            3962,
            4020,
            "College Name"
        ],
        [
            3568,
            3572,
            "Years of Experience"
        ],
        [
            3551,
            3555,
            "Years of Experience"
        ],
        [
            3517,
            3543,
            "Companies worked at"
        ],
        [
            3502,
            3515,
            "Designation"
        ],
        [
            2783,
            2787,
            "Years of Experience"
        ],
        [
            2769,
            2773,
            "Years of Experience"
        ],
        [
            2743,
            2756,
            "Designation"
        ],
        [
            2736,
            2740,
            "Years of Experience"
        ],
        [
            2723,
            2727,
            "Years of Experience"
        ],
        [
            2704,
            2710,
            "Location"
        ],
        [
            2673,
            2702,
            "Companies worked at"
        ],
        [
            2141,
            2184,
            "Email Address"
        ],
        [
            1750,
            1754,
            "Years of Experience"
        ],
        [
            1737,
            1741,
            "Years of Experience"
        ],
        [
            1708,
            1714,
            "Location"
        ],
        [
            1672,
            1689,
            "Companies worked at"
        ],
        [
            1642,
            1670,
            "Designation"
        ],
        [
            1296,
            1319,
            "Companies worked at"
        ],
        [
            1220,
            1239,
            "Location"
        ],
        [
            1172,
            1176,
            "Years of Experience"
        ],
        [
            1157,
            1163,
            "Location"
        ],
        [
            1136,
            1153,
            "Companies worked at"
        ],
        [
            1115,
            1134,
            "Location"
        ],
        [
            1101,
            1114,
            "Designation"
        ],
        [
            1093,
            1114,
            "Designation"
        ],
        [
            353,
            376,
            "Skills"
        ],
        [
            197,
            225,
            "Years of Experience"
        ],
        [
            124,
            167,
            "Email Address"
        ],
        [
            82,
            88,
            "Location"
        ],
        [
            58,
            81,
            "Companies worked at"
        ],
        [
            36,
            55,
            "Location"
        ],
        [
            22,
            35,
            "Designation"
        ],
        [
            14,
            35,
            "Designation"
        ],
        [
            0,
            13,
            "Name"
        ]
    ]
}

__Question 3__: Are the labels unique? If the labels are not unique, does this make the data ambigious?<br>
__Task 7__: Collect the names of all entities in __converted_complete_resumee__ dataset, and store these names in __all_labels__. Then iterate over the contents of __all_labels__, and store each name that does not appear in __unique_labels__ in __unique_labels__, so that __unique_labels__ contains each name that appears in __all_labels__, but only once.

In [23]:
# TODO Collect the names of all entities in converted_complete_resumee dataset, and store these names 
# in all_labels. Then iterate over the contents of all_labels, and store each name that does not appear 
# in unique_labels in unique_labels, so that unique_labels contains each name that appears in 
# all_labels, but only once.
all_labels = [entry[2] for resume in converted_complete_resumees for entry in resume[1]["entities"]]

unique_labels = set(all_labels)

for res in converted_complete_resumees:
    pass # oh lol
for item in unique_labels:

  print( item )

UNKNOWN
Relocate to
Email Address
Graduation Year
University
Degree
abc
College Name
Certifications
projects
training
College
links
Designation
Skills
des
Can Relocate to
Rewards and Achievements
Location
Name
state
Links
Address
Companies worked at
Years of Experience

__Task 8__: Now choose three labels, on which you want to train your named entity recognition algorithm. You want to have for each label at least 300 documents.

In [24]:
## TODO store entity label names for the entities you want to work with in an array 
chosen_entity_label = ["Skills", "Location", "Email Address"]
## for each chosen entity label, count how many documents have a labeled entity for that label, and how many labeled entities total there are 
## for that entity
for chosen in chosen_entity_label:
    found_docs_with_entity = 0
    entity_count = 0
    for resume in converted_complete_resumees:
        entity_list = resume[1]["entities"]
        _,_,labels = zip(*entity_list)
        if chosen in labels:
            found_docs_with_entity+=1
            entity_count+=len([l for l in labels if l == chosen])
    print("Docs with {}: {}".format(chosen,found_docs_with_entity))
    print("Total count of {}: {}".format(chosen,entity_count))

Docs with Skills: 536
Total count of Skills: 2152
Docs with Location: 641
Total count of Location: 1976
Docs with Email Address: 640
Total count of Email Address: 967